/*General Stuff*/

nav {
    font-size: 27px
}

body {
    background-color: burlywood;
    margin: 0;
}


.scorll {
    background-color: bisque;
}

body p.home {
    margin: 50px;
    text-align: center;
    font-size: 1.5em;
}

header {
    text-align: center;
    font-size: 90px;
}

.shelf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


/*Card*/

.row {
    display: flex;
  }
  .column {
    flex-direction: column;
  }

.product-container{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: center;

}

.buy-button {
    margin-left: 25%;
}

.product-img {
    width: 335px;
}

.product-card{
    width: 33%;
    margin-left: 2.5rem;
    margin-top: 3.5rem;
}

.price {
    font-size: 30px;
}

.product-content{
    margin-top: 2rem;
}
.product-card a{
    text-decoration: none;
    color: #2e323f;
}

/*Foot*/

footer {
	background-color: #2a2928;
	color: white;
	padding: 25px;
}

footer p a {
	color: white;
}

footer img {
	filter: invert();
	height: 30px;
}

footer img:hover {
	opacity: 80%;
}

footer ul {
	display: flex;
	gap: 10px;
}
footer li {
	display: block;
}

footer div {
	display: flex;
	align-items: flex-start;
}

footer section {
    text-align: center;
	margin-left: auto;
    margin-right: auto;
}

footer section header {
	font-size: 2.5em;
}

footer section p {
    font-size: 1.3em;
}

/*login*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem ;
}
.login-form{
    margin:11.55rem 0;
}
.register-form{
    margin: 5.52rem 0;
}

.subcontainer{
    display: flex;
    margin-top: 1.5rem;
    font-size: 1rem;
}


.heading-container p {
    margin: 1rem 0 2rem 0 ;
}
div a {
    color:  #2e323f;;
}
.account-link{
    text-decoration: none;
   
}

.password, .email{
    min-width: 300px;
    max-width: 400px;
    padding: .2rem 1rem;
}
.remember{
    margin-left: .3rem;
}
.forgotpsd{
    margin-left: auto;
    
}
.forgotpsd a{
    text-decoration: none;
}

.forgotpsd p {
    font-size: 10px;
}

.login-btn{
    background-color: black;
    color: white;
    font-size: .8rem;
    text-decoration: none;
    
    text-align: center;
    min-width: 80px;
    margin: 0 1.5rem;
    padding: .5rem;
    
}
.login-btn:hover {
    background: rgba(0, 0, 0, 0.7);
  
  }
.btn-link-container{
    margin-top:2rem;
    
}
.btn-link-bottom{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.survey-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.radio-label {
    display: inline-block;
     vertical-align: top;
     margin-right: 3%;
 }
 .radio-input {
    display: inline-block;
     vertical-align: top;
 }

.radio p {
    font-size: 20px;
    text-align: center;
}

